<% provide(:title, @user.name) %>
<div class="row">
  <aside class="">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name%>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <% if @user.buckets.any? %>
        <h3>やりたいことリスト : <%= @user.buckets.count %></h3>
        <%= link_to "All", all_path %>
        <%= link_to "達成", accomplished_path %>
        <%= link_to "未達成", unaccomplished_path %>
        <ol class="bucket">
          <%= render @buckets %>
        </ol>
        <%= will_paginate @buckets %>
      <% end %>
    </div>
</div>
